<a href="https://colab.research.google.com/github/naufalihsan/tesseract/blob/master/Text_Predicting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [141]:
from google.colab import files

uploaded = files.upload()

Saving train.csv to train (1).csv

In [0]:
df = pd.read_csv('train.csv')

In [143]:
df.head()

   Unnamed: 0                entity category
0           0         Mutia Maryati     name
1           1  Padmi Susanti M.Farm     name
2           2     Karen Ayu Nuraini     name
3           3   Bagus Pangestu S.E.     name
4           4        Violet Halimah     name

In [0]:
train = df.copy()
train['entity']= train['entity'].astype(str)
train['entity'] = train['entity'].str.replace('[^\w\s]',' ').str.lower()

In [172]:
train.head()

   Unnamed: 0                entity category
0           0         mutia maryati     name
1           1  padmi susanti m farm     name
2           2     karen ayu nuraini     name
3           3   bagus pangestu s e      name
4           4        violet halimah     name

In [156]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(train['entity'])
X_train_counts.shape

(1956, 2653)

In [157]:
from sklearn.feature_extraction.text import TfidfTransformer
tf_transformer = TfidfTransformer(use_idf=False).fit(X_train_counts)
X_train_tf = tf_transformer.transform(X_train_counts)
X_train_tf.shape

(1956, 2653)

In [158]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

(1956, 2653)

In [0]:
from sklearn.preprocessing import LabelEncoder

# creating mapping from unique label texts to unique integers
# note this can be re-used to encode and decode the labels after as well
encoder = LabelEncoder()
target = encoder.fit_transform(train['category'])

In [0]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import GradientBoostingClassifier

clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=21).fit(X_train_tfidf, target)
# clf = MultinomialNB().fit(X_train_tfidf, target)

In [175]:
docs_new = ['ARILF WIJAYA PUTRA', 'BANDUNG  18 04 1987','A AMIR MAHMUD GG SIRNAGALIH NO 62'.capitalize() ,'3217061804870007']
X_new_counts = count_vect.transform(docs_new)
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

predicted = clf.predict(X_new_tfidf)

cheatsheet = dict(zip(encoder.transform(encoder.classes_), encoder.classes_))

for doc, category in zip(docs_new, predicted):
    print(doc, cheatsheet[category])

ARILF WIJAYA PUTRA name
BANDUNG  18 04 1987 ttl
A amir mahmud gg sirnagalih no 62 address
3217061804870007 card